<nav>
  <a href="{{ "/" | relative_url }}">Home</a>
  <a href="{{ "/writeups/" | relative_url }}">Honest Write-ups</a>
  <div class="social-icons">
    <a href="https://github.com/tiagomanunes" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/tiagonunes" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://app.hackthebox.com/profile/2103519" target="_blank" class="custom-icon">
      <img src="{{ '/assets/icons/htb.svg' | relative_url }}" alt="HTB" class="icon-img">
    </a>
  </div>
</nav>

