---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="post-meta">
  <em>Published on {{ page.date | date: "%B %d, %Y" }}</em>

  {% if page.provider == "htb" and page.machine %}
    <span class="machine-link {{ page.provider }}">
      <a href="https://hackthebox.com/machines/{{ page.machine | uri_escape }}" target="_blank">
        Give it a go on HTB
      </a>
    </span>
  {% endif %}
</div>

<article>
  {{ content }}
</article>

<hr>

<div class="post-nav">
  {% if page.previous %}
      <a href="{{ page.previous.url }}" class="prev">Previously: {{ page.previous.title }}</a>
  {% endif %}
  
  {% if page.next %}
      <a href="{{ page.next.url }}" class="next">Next up: {{ page.next.title }}</a>
  {% endif %}
</div>